// STYLING STARTS OFF AS SCSS AND THEN COMPILES INTO A MASTER CSS LISTING IMPORTED INTO APP.JS
.place-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
  }
  